#container{
    display: flex; 
    justify-items: center;
    align-items: center;
    height: 1000px;
    width: 50%;
    margin: auto;
    font-family: Lexend Deca;
    font-size: 15px;
    font-weight: 400;
  }
  
  #box1{
    background-color: #2AD3D5;
    width: 385px;
    height: 350px;
    align-self: center;
    padding: 20px;
  }
  
  #box2{
    background-color: #AED5BA;
    width: 385px;;
    height: 350px;
    align-self: center;
    padding: 20px;
  }
  
  #box3{
    background-color: #135589;
    width: 385px;
    height: 350px;
    align-self: center;
    padding: 20px;
    
  }
  
  button{
    position: absolute;
    top: 620px;
    border-radius: 10px;
    padding: 10px;
  }